.member-block {
  margin: 1vh;
  border: 1px solid gray;
  padding: 1vh;
  border-radius: 5px;
}

.member-head {
  padding: 1vh;
  border-radius: 10px;
}

.member-head:hover {
  cursor: pointer;
  background-color: lightgray;
}
