
<h3>Member List</h3>

<select (change)="onChange($event.target.value)">
  <option value="none">None</option>
  <option *ngFor="let genre of genres" value="{{genre}}">{{genre}}</option>
</select>

<div *ngFor="let member of members | async | byGenre:filterByGenre" class="member-block">
  <div class="member-head" (click)="goToDetails(member)">
    <h4>Name: {{member.name}}</h4>
    <h5>Specialty Genre: {{member.genre}}</h5>
  </div>
  <div *ngIf="currentRoute === '/admin'">
    {{member.description}}
    <hr>
    <app-edit-member [selectedMember]="member"></app-edit-member>
  </div>
</div>
