.member-block {
  margin: 1vh;
  border: 1px solid gray;
  padding: 1vh;
  border-radius: 5px;
  background-color: #e6ffff;
}

.member-head {
  padding: 1vh;
  border-radius: 10px;
  background-color: lightgray;
  margin-bottom: 0.4vh;
}

.member-head:hover {
  cursor: pointer;
  background-color: skyblue;
}
