<h3>Add New Member</h3>
<div>
  <div>
    <label>Member Name:</label>
    <br>
    <input #newName>
  </div>

  <div>
    <label>Specialized Gaming Genre:</label>
    <br>
    <input #newGenre>
  </div>

  <div>
    <label>Member Description:</label>
    <br>
    <textarea #newDescription></textarea>
  </div>
  <button class="btn btn-primary" (click)="submitForm(newName.value, newGenre.value, newDescription.value); newName.value='';newGenre.value='';newDescription.value=''">Add Member</button>
</div>

<div>
  <app-start></app-start>
</div>
