<h3>Edit Album</h3>

<div class="form-group">
  <label>New Member Name:</label>
  <input [(ngModel)]="selectedMember.name">
</div>

<div class="form-group">
  <label>New Member Genre:</label>
  <input [(ngModel)]="selectedMember.genre">
</div>

<div class="form-textarea">
  <label>New Member Description:</label>
  <textarea [(ngModel)]="selectedMember.description"></textarea>
</div>
<div class="button-row">
  <button (click)="saveEdits(selectedMember)" class="btn btn-success">Save Changes</button>
  <div class="spacer"></div>
  <button (click)="deleteMember(selectedMember)" class="btn btn-danger">Delete Member</button>
</div>
